<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOLZAPP</title>
    <script src="https://kit.fontawesome.com/3a1d17ee5d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <div id="app">
        <div class="wrapper">

            <div class="container">
                <div class="container-aside bg-lightgrey d-none">
                    <div class="row">
                        <div class="col-1h d-flex ">
                            <img src="./img/avatar_1.jpg" alt="" class="img-size">
                            <ul class="d-flex ai-center gap-40">
                                <li><i class="fa-solid fa-circle-notch c-grey"></i></li>
                                <li><i class="fa-solid fa-message c-grey"></i></li>
                                <li><i class="fa-solid fa-ellipsis-vertical c-grey"></i></li>
                            </ul>
                        </div>
                        <!--BLUE BAR-->
                        <div class="col-2h bg-lightblue d-flex">
                            <div class="card-img">
                                <div><i class="fa-solid fa-bell-slash icon-font"></i></div>
                            </div>
                            <div class="card-text">
                                <div><strong>Ricevi notifiche di nuovi messaggi</strong></div>
                                <a href="">Attiva notifiche desktop</a>
                            </div>

                        </div>
                        <!--SEARCH CONTACT BAR-->
                        <div class="col-3h d-flex">
                            <div><i class="fa-solid fa-magnifying-glass c-grey"></i></div>
                            <input type="" placeholder="cerca o inizia una nuova chat" v-model="search">

                        </div>
                        <!--CHATS CARDS-->
                        <div class="col-4h d-flex contact" v-for="(contact, i) in contacts" @click="currentChat = i"
                            :class="contact.name.toLowerCase().includes(search.toLowerCase())  ? '': 'hidden'">
                            <div class="card-img">
                                <div><img :src="contact.avatar" alt="" class="img-size"></div>
                            </div>
                            <div class="card-text">
                                <div><strong>{{contact.name}}</strong></div>
                                <div>
                                    <div class="c-grey">{{contact.messages.at(-1).message}}</div>
                                </div>

                            </div>
                            <div class="card-time">
                                <div class="c-grey">{{contact.messages.at(-1).date.slice(11,16)}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--IMG FOR TABLET-->
                <div class="container-tablet">
                    <ul class="side-tablet">
                        <li class="bb-lightgrey bg-lightgrey br-lightgrey"><img src="./img/avatar_1.jpg" alt=""
                                class="img-size "></li>
                        <li class="bb-lightgrey"><img src="./img/avatar_2.jpg" alt="" class="img-size "></li>
                        <li class="bb-lightgrey"><img src="./img/avatar_1.jpg" alt="" class="img-size "></li>
                        <li class="bb-lightgrey"><img src="./img/avatar_4.jpg" alt="" class="img-size "></li>
                        <li class="bb-lightgrey"><img src="./img/avatar_5.jpg" alt="" class="img-size "></li>
                        <li class="bb-lightgrey"><img src="./img/avatar_6.jpg" alt="" class="img-size "></li>
                        <li class="bb-lightgrey"><img src="./img/avatar_7.jpg" alt="" class="img-size "></li>
                        <li class="bb-lightgrey"><img src="./img/avatar_8.jpg" alt="" class="img-size "></li>
                        <li class="bb-lightgrey"><img src="./img/avatar_io.jpg" alt="" class="img-size "></li>
                    </ul>
                </div>


                <!--CENTRAL CONTAINER-->
                <div class="container-central">
                    <div class="col-1c bg-lightgrey d-flex">
                        <div class="card-img">
                            <div><img :src="contacts[currentChat].avatar" alt="" class="img-size"></div>
                        </div>
                        <div class="card-text">
                            <div><strong>{{contacts[currentChat].name}}</strong></div>
                            <div class="d-flex ">
                                Ultimo accesso:
                                <div class="c-grey" v-if="contacts[currentChat].messages.at(-1).status === 'received'">
                                    {{contacts[currentChat].messages.at(-1).date.slice(11,16)}}</div>
                                <div class="c-grey"
                                    v-else="contacts[currentChat].messages.at(-1).status === 'received'">
                                    {{contacts[currentChat].messages.at(-2).date.slice(11,16)}}</div>
                            </div>
                        </div>
                        <div class="card-icon gap-40">
                            <div><i class="fa-solid fa-magnifying-glass"></i></div>
                            <div><i class="fa-solid fa-paperclip"></i></div>
                            <div><i class="fa-solid fa-ellipsis-vertical"></i></div>

                        </div>
                    </div>

                    <div class="containe-img">



                        <div class="col-2c ">

                            <div :class="message.status" v-for="(message, i) in contacts[currentChat].messages">
                                <div>
                                    {{message.message}}
                                </div>
                                <div class="finger-message">

                                    <i class="fa-solid fa-angle-down arrow" @click="changeMenu(i)"></i>
                                    <ul class="noview " :class="menu[i] === true ? 'd-block' : ''">
                                        <li class="message-info">message info</li>
                                        <li @click="deleteMessage(i)" class="message-info">delete message</li>
                                    </ul>



                                    <div class="c-grey">{{message.date.slice(11,16)}}</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-4c bg-lightgrey d-flex">
                        <div><i class="fa-regular fa-face-smile icon-write"></i></div>
                        <input class="write-text" placeholder="scrivi messaggio" v-model="newMessage"
                            @keyup.enter="addMessage">
                        <div><i class="fa-solid fa-microphone icon-write"></i></div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="./js/app.js"></script>
</body>

</html>